
      <div class="submission-form">
          <form method="POST" action="">
          <input name="humanName" type="text"></input>
          <input type="submit" name="" value="Unicornicate Me!">
          </form>
        </div>
      {{> latest}}
      <!-- <div class="latest">
      <ul>
        <li><span class="human">Jack</span> | <span class="unicorn">Fluffy Sweetlips</span></li>
        <li><span class="human">Rob</span> | <span class="unicorn">Mythical Rainbowmaster</span</li>
        <li><span class="human">Jules</span> | <span class="unicorn">Sinister Pinkeye</span</li>
        <li><span class="human">Sam H</span> | <span class="unicorn">Sunflower Bluemoon</span</li>
        <li><span class="human">Sam M</span> | <span class="unicorn">Legendary Silvernose</span</li>
      </ul>
      </div> -->
      <div class="more-link">
        <div class="btn-info"><a href="/history">More Unicorn</a></div>
      </div>
