<div class="submission-form">
    <form method="POST" action="./save">
    <input name="humanName" type="text"></input>
    <input type="submit" name="" value="Unicornicate Me!">
    </form>
  </div>
<div class="myUnicorn">
<img src={{path}}>
<h2>{{name}}</h2>
</div>
