<<<<<<< HEAD
<<<<<<< HEAD

=======
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Unicornication</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    <style src="/styles/starter-template.css"></style>
  </head>
  <body>

  {{> header}}
  <div class="container">
    <div class="starter-template">
  {{> index}}
</div> <!-- /.starter-template -->
</div><!-- /.container -->
  {{> footer}}

    <!-- Latest compiled and minified JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
  </body>

</html>
>>>>>>> 28e0f88c30690d5058bc163550dfa926352efd54
=======

>>>>>>> 11955830d0f183c26e5317a9960252629f2c528c
