    {{> header}}
      <div class="submission-form">
          <form method="POST" action="./save">
          <input name="humanName" type="text"></input>
          <input type="submit" name="" value="Unicornicate Me!">
          </form>
        </div>
      {{> latestSubmissions}}


      <div class="more-link">
        <a href="/history"><div class="btn-info">More Unicorn</div></a>
      </div>
  {{> footer}}
