
      <div class="submission-form">
          <form method="POST" action="./save">
          <input name="humanName" type="text"></input>
          <input type="submit" name="" value="Unicornicate Me!">
          </form>
        </div>
      {{> latestSubmissions}}

      <div class="more-link">
        <div class="btn-info"><a href="/history">More Unicorn</a></div>
      </div>
