    {{> header}}
<div class="submission-form">
    <form method="POST" action="./save">
    <input name="humanName" type="text"></input>
    <input type="submit" name="" value="Unicornicate Me!">
    </form>
  </div>
  <div class="myUnicorn">
    <span class="human">Jack</span><br/>
    <span class="unicorn">Sweetdkfybsliydfbl</span><br/>
  <img src='images/1.jpg'>

  </div>
    {{> footer}}
