body {
  padding-top: 50px;
  background-color: aliceBlue;
  background-image: url("../images/rainbow.png");
  background-position:top center;
  background-repeat: no-repeat;
}

.starter-template {
  padding: 40px 15px;

}
.submission-form, .latest, .more-link {
  margin:0 auto;
  width:50%;
}
.submission-form  {
  text-align:center;
  color: #990099;
}
.pageTitle, .more-link {
  text-align: center;
  margin-top: 180px;
  color: #B34DBF;
  font-family: Vibur;
}

.pageTitle {
  font-size: 100px;
  text-align: center;
  color: #B34DBF;
  font-family: Vibur;
}

.submission-form {
  color: #990099;
  font-family: Helvetica;
}


/*.btn-info {
  color: yellow;
}*/

.latest {
  font-family: Abel;
  color: #ff1ab3;
  text-decoration: none;
}

.latest h2 {
  font-family: Schoolbell;
  color: ##d966ff;
  text-decoration: none;
}

.item{
  display: block;
  width: 200px;
  float: left;
  margin-right: 10px;
  margin-bottom: 20px;
  text-align: center;
  font-size: 16px;
}
.item img{
 width: 200px;
 border-radius: 50%;
}

.grid{
  margin-top: 300px;
}

span.human{
  font-family: verdana;
}

span.unicorn{
  font-family: vibur;
  font-size: 20px;
}
/*.latest ul li {
  text-decoration: none;
}*/
