body {
  padding-top: 50px;
  background-color: aliceBlue;
  background-image: url("../images/rainbow.png");
  background-position:top center;
  background-repeat: no-repeat;
}

.starter-template {
  padding: 40px 15px;

}
.submission-form, .latest, .more-link {
  margin:0 auto;
  width:50%;
}
.submission-form  {
  text-align:center;
  color: #990099;
}
.pageTitle, .more-link {
  text-align: center;
<<<<<<< HEAD
  margin-top: 180px;
=======
  color: #B34DBF;
  font-family: Vibur;
  
>>>>>>> 31391a469c243fa8ac62d8e9879b30c722a698f3
}

.pageTitle {
  font-size: 100px;
  text-align: center;
  color: #B34DBF;
  font-family: Vibur;
}
<<<<<<< HEAD

.submission-form {
  color: #990099;
  font-family: Helvetica;
}
=======
>>>>>>> 31391a469c243fa8ac62d8e9879b30c722a698f3


/*.btn-info {
  color: yellow;
}*/

.latest {
  font-family: Abel;
  color: #ff1ab3;
  text-decoration: none;
}

.latest h2 {
  font-family: Schoolbell;
  color: ##d966ff;
  text-decoration: none;
}

/*.latest ul li {
  text-decoration: none;
}*/
